.wd-tw-button {
    border-radius: 24px;
}

.wd-logo {
    border-radius: 50%;
}

.wd-nowrap {
    white-space: nowrap;
}

.wd-logo-round {
    border-radius: 10px;
}

.wd-logo-round.white {
    background: white;
}

body {
    background: black;
}

.list-group-item .fa {
    font-size: 23px;
    margin-right: 5px;
}

.list-group a {
    color: white;
}

.wd-icons > span {
    flex: 1;
}

.wd-avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.wd-content a {
    color: #2a9fd6;
    text-decoration: none;
}

.wd-img {
    border: 1px solid rgb(110, 118, 125);
    border-radius: 10px;
    overflow: hidden;
}

.wd-img img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(110, 118, 125);
}

.wd-post-more {
    position: absolute;
    top: 10px;
    right: 10px;
}